:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --accent-button-backgroundcolor: #188ce8;
  --accent-background-color: #f5f4fa;
  --secondary-color: #ffffff;
  --secondary-gray-color: #757575;
  --icons-color: #afb1b8;
  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
}

.common-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .common-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.social-contacts {
  display: flex;
  justify-content: center;
}

.social-contacts__item:not(:last-child) {
  margin-right: 10px;
}

.social-contacts__icon {
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.social-contacts__icon_theme_light {
  fill: var(--icons-color);
}

.social-contacts__icon_theme_dark {
  fill: var(--secondary-color);
}

.social-contacts__link:hover .social-contacts__icon,
.social-contacts__link:focus .social-contacts__icon {
  fill: var(--secondary-color);
}

.social-contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.social-contacts__link_theme_light {
  background-color: var(--secondary-color);
}

.social-contacts__link_theme_dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-contacts__link:hover, .social-contacts__link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: opacity var(--transition-duration) var(--timing-function), visibility var(--transition-duration) var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--timing-function);
  width: 450px;
  height: 609px;
  padding: 40px;
  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  padding: 0px;
  cursor: pointer;
  transition: fill var(--transition-duration) var(--timing-function);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-field {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-gray-color);
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-duration) var(--timing-function);
}

.modal__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal__input:focus + .form-field-icon {
  fill: var(--accent-color);
}

.modal__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--timing-function);
}

.modal__textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  transition: border-color var(--transition-duration) var(--timing-function);
}

.modal__textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal__checkbox-policy {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-gray-color);
  margin-bottom: 30px;
}

.modal__checkbox-policy::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: border-color var(--transition-duration) var(--timing-function);
}

.modal__checkbox:checked + .modal__checkbox-policy::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url("../img/icon_check.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal__checkbox:focus + .modal__checkbox-policy::before {
  border-color: var(--accent-color);
}

.modal__policy-link {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal__checkbox-policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .menu__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
    outline: none;
  }
  .menu__link_current {
    color: var(--accent-color);
  }
  .menu__link_current::after {
    position: absolute;
    left: 0;
    bottom: -33px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo_theme_light {
  color: #000000;
}

.logo_theme_dark {
  color: var(--secondary-color);
}

.logo .logo__blue-part {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__envelope-icon {
    fill: currentColor;
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__smartphone-icon {
    fill: currentColor;
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__mail-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-gray-color);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
  }
  .contacts__mail-link:hover {
    color: var(--accent-color);
    outline: none;
  }
  .contacts__mail-link:hover .envelope-icon {
    fill: currentColor;
  }
  .contacts__mail-link:focus {
    color: var(--accent-color);
    outline: none;
  }
  .contacts__mail-link:focus .envelope-icon {
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .contacts__tel-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-gray-color);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
  }
  .contacts__tel-link:hover {
    color: var(--accent-color);
    outline: none;
  }
  .contacts__tel-link:hover .smartphone-icon {
    fill: currentColor;
  }
  .contacts__tel-link:focus {
    color: var(--accent-color);
    outline: none;
  }
  .contacts__tel-link:focus .smartphone-icon {
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__mail-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__tel-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.modal-btn {
  align-self: center;
  width: 200px;
  height: 50px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--accent-button-backgroundcolor);
  outline: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 5;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 25px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }
  .mobile-menu__link_current {
    color: var(--accent-color);
  }
  .mobile-menu__link:hover {
    color: var(--accent-color);
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__contacts {
    margin-top: 302px;
  }
  .mobile-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .phone {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mail {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-gray-color);
  }
  .mobile-menu__social-networks {
    display: flex;
    margin-top: 64px;
  }
  .mobile-menu__social-networks-item:not(:last-child)::after {
    content: "";
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: 10px;
  }
  .mobile-menu__social-networks-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__burger-btn {
  line-height: 0;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 120px;
  background: var(--accent-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__icons {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__icons {
    width: 270px;
  }
}

.benefits__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .benefits__subtitle {
    text-align: center;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-gray-color);
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits-item {
  max-width: 450px;
}

@media screen and (max-width: 767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-item {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.about {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__title {
  margin-bottom: 48px;
}

.about__list {
  display: flex;
  justify-content: space-between;
}

.about-image__wrapper {
  position: relative;
}

.about__img-caption {
  position: absolute;
  width: 100%;
  height: 70px;
  right: 0;
  bottom: 0;
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.team {
  background: var(--accent-background-color);
}

.team__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.team__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-gray-color);
  margin-bottom: 16px;
  text-align: center;
}

.team__information {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__information {
    padding-left: 74px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .team__information {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team__member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .team__member:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__member {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__member {
    flex-basis: calc((100% - 120px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    justify-content: space-between;
  }
}

.team__foto {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .team__foto {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__foto {
    width: 270px;
    height: 260px;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  transition-property: border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  fill: var(--icons-color);
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  align-items: baseline;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__adress-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 9px;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.footer__contact-link:hover, .footer__contact-link:focus {
  color: var(--accent-color);
}

.footer__social-contacts {
  display: inline-block;
  width: 206px;
  height: 80px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__social-contacts {
    margin-right: 93px;
  }
}

.footer__join-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.footer__contacts {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.subscription__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.subscription__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: border-color var(--transition-duration) var(--timing-function);
}

.subscription__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

@media screen and (min-width: 768px) {
  .subscription__input {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscription__btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
  padding: 10px 28px;
  transform: background-color var(--transition-duration) var(--timing-function);
}

.subscription__btn:hover, .subscription__btn:focus {
  background-color: var(--accent-button-backgroundcolor);
}

.subscription__btn-icon {
  margin-left: 10px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.filtr-section-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filtr-section-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .filtr-section-list {
    margin-bottom: 50px;
  }
}

.filtr-section-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filtr-section-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filtr-section-item {
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.filtr-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: var(--accent-background-color);
  color: var(--main-text-color);
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.filtr-btn:hover, .filtr-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.portfolio-card-link {
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.portfolio-card-link:hover, .portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.portfolio-card-link:hover .overlay, .portfolio-card-link:focus .overlay {
  transform: translateY(0%);
}

.portfolio-img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio-img {
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-img {
    width: 370px;
    height: 294px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  padding: 63px 24px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--timing-function);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-img-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.portfolio-img-text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-gray-color);
}

.portfolio-img-content {
  padding: 20px 24px;
  background: var(--secondary-color);
  border: 1px solid #eeeeee;
  border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-img-content-height {
    height: 146px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=main.css.map */