.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
.benefits__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 120px;
  background: var(--accent-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits__icons {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__icons {
    width: 270px;
  }
}
.benefits__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .benefits__subtitle {
    text-align: center;
  }
}
.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-gray-color);
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.benefits-item {
  max-width: 450px;
}
@media screen and (max-width: 767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    // max-width: 270px;
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}
// @media screen and (min-width: 1200px) {
//   .benefits__item:not(:last-child) {
//     margin-right: 30px;
//   }
// }
// .benefits__list {
//   display: flex;
//   justify-content: space-between;
// }
// .benefits__icons {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 120px;
//   background: var(--accent-background-color);
//   border-radius: 4px;
//   margin-bottom: 30px;
// }

// .benefits__item {
//   max-width: 270px;
// }
// .benefits__subtitle {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--main-text-color);
//   margin-bottom: 10px;
// }
// .benefits__text {
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: var(--secondary-gray-color);
// }
