.filtr-section-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filtr-section-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .filtr-section-list {
    margin-bottom: 50px;
  }
}
.filtr-section-item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .filtr-section-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}
.filtr-section-item {
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.filtr-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: var(--accent-background-color);
  color: var(--main-text-color);
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: none;
  }
}

.portfolio-card-link {
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
    & .overlay {
      transform: translateY(0%);
    }
  }
}
.portfolio-img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio-img {
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-img {
    width: 370px;
    height: 294px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  padding: 63px 24px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--timing-function);
}
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-img-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}
.portfolio-img-text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-gray-color);
}
.portfolio-img-content {
  padding: 20px 24px;
  background: var(--secondary-color);
  border: 1px solid #eeeeee;
  border-top: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-img-content-height {
    height: 146px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

// .filtr-section-list {
//   display: flex;
//   justify-content: center;
// }
// .filtr-section-item:not(:last-child) {
//   margin-right: 8px;
// }
// .filtr-section-item {
//   margin-bottom: 50px;
//   transition-property: box-shadow;
//   transition-duration: var(--transition-duration);
//   transition-timing-function: var(--timing-function);
// }
// .portfolio-list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;
// }
// .portfolio-item {
//   flex-basis: calc((100% - 90px) / 3);
//   margin-left: 30px;
//   margin-top: 30px;
// }
// .filtr-btn {
//   font-family: var(--main-font);
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.62;
//   letter-spacing: 0.03em;
//   background: var(--accent-background-color);
//   color: var(--main-text-color);
//   cursor: pointer;
//   padding: 6px 22px;
//   border: none;
//   border-radius: 4px;
//   transition-property: color;
//   transition-duration: var(--transition-duration);
//   transition-timing-function: var(--timing-function);
//   transition-property: background-color;
//   transition-duration: var(--transition-duration);
//   transition-timing-function: var(--timing-function);
//   transition-property: box-shadow;
//   transition-duration: var(--transition-duration);
//   transition-timing-function: var(--timing-function);
//   &:hover,
//   &:focus {
//     background-color: var(--accent-color);
//     color: var(--secondary-color);
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 2px 2px rgba(0, 0, 0, 0.12);
//     outline: none;
//   }
// }

// .portfolio-img-title {
//   font-family: var(--main-font);
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
//   color: var(--main-text-color);
//   margin-bottom: 4px;
// }
// .portfolio-img-text {
//   font-family: var(--main-font);
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.03em;
//   color: var(--secondary-gray-color);
// }
// .portfolio-img-content {
//   padding: 20px 24px;
//   background: var(--secondary-color);
//   border: 1px solid #eeeeee;
//   border-top: none;
// }
// .portfolio-card-link {
//   transition-property: box-shadow;
//   transition-duration: var(--transition-duration);
//   transition-timing-function: var(--timing-function);
//   &:hover,
//   &:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//     outline: none;
//     & .overlay {
//       transform: translateY(0%);
//     }
//   }
// }

// .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: var(--accent-color);
//   padding: 63px 24px;
//   font-family: var(--main-font);
//   font-size: 18px;
//   line-height: 1.56;
//   letter-spacing: 0.03em;
//   color: var(--secondary-color);
//   overflow: auto;
//   transform: translateY(100%);
//   transition: transform var(--transition-duration) var(--timing-function);
// }
// .portfolio-img-wrapper {
//   position: relative;
//   overflow: hidden;
// }
