@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
    //   hide mobile-menu
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &__container {
      position: relative;
      padding-top: 48px;
      padding-bottom: 48px;
      padding-left: 25px;
    }
    &__close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      width: 40px;
      height: 40px;
      border: none;
      background-color: transparent;
      padding: 0;
      &:hover,
      &:focus {
        fill: var(--accent-color);
      }
    }
    &__link {
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: var(--main-text-color);
      &_current {
        color: var(--accent-color);
      }
    }
    &__item:not(:last-child) {
      margin-bottom: 32px;
    }
    &__contacts {
      margin-top: 302px;
      &-item:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }
  .phone {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mail {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-gray-color);
  }
  .mobile-menu__social-networks {
    display: flex;
    margin-top: 64px;
    &-item:not(:last-child)::after {
      content: "";
      width: 22px;
      height: 0px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
      margin-left: 10px;
      margin-right: 10px;
    }
    &-link {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
